img.icon {
    float: right;
    margin-right: 2%;
    padding: 0%;
}
img.header {
    margin-top: 0%;
}
a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}
a:hover {
    color: aqua;
}